.about-section {
    padding-bottom: 1rem!important;
}
.other-page-hero-section img{
    width: 100%;
    height: 95vh;
}
.common-para{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.common-para p{ 
    width: 100%;
    padding: 8px 0;
}

.image-text-container {
    margin-top: 2rem;
}
.image-text-container_text h2 {
    margin: 2rem 0;
    font-size: 2.6vw;
}
.image-text-container_text P{
    margin: 1rem 0;
}

@media(max-width: 800px){
    .hero-video-desktop{
        display: block;
    }
    .hero-video {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .other-page-hero-section img{
        width: 100%;
        height: 80vh;
    }
    .Hero-heading{
        font-size: 2vw;
    }
    
}
