.about-section {
    padding-bottom: 1rem!important;
}
.other-page-hero-section img{
    width: 100%;
    height: 100%;
}
.common-para{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.common-para p{ 
    width: 100%;
    padding: 8px 0;
}

.image-text-container {
    margin-top: 2rem;
}
/* .image-text-container_text h2 {
    margin: 2rem 0;
    font-size: 2.6vw;
} */
.image-text-container_text P{
    margin: 1rem 0;
}

@media(max-width: 800px){
    .hero-video-desktop{
        display: block;
    }
    .Hero-heading{
      display: none;
    }
    .hero-video {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .other-page-hero-section img{
        width: 100%;
        height: 50vh;
    }
    .Hero-heading{
        font-size: 36px;
    }
    
}


/* ---------------------------------------- */

.reservation-page {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 4rem;
}

/* Calendar Section */
.calendar-section {
  flex: 7;
  padding: 20px;
  text-align: center;
}

.calendar-section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #796C5C;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Arrows */
.calendar-section h2 span {
  cursor: pointer;
  font-size: 1.2em;
  color: #796C5C;
  user-select: none;
}

.calendar-section h2 .disabled {
  color: #ccc;
  cursor: not-allowed;
}

/* Calendar Table */
.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 1em;
}

.calendar th, .calendar td {
  width: 14.28%;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.calendar th {
  background-color: #796C5C;
  color: #fff;
  font-weight: 600;
  padding: 10px 0;
}

.calendar td {
  background-color: #f9f9f9;
}

/* Selected date style */
.calendar td.selected {
  background-color: #948573;
  color: #fff;
}
.calendar td.reserved {
  background-color: #414040;
  color: #fff;
  cursor: not-allowed;
  position: relative;
}

.calendar td.reserved .reserved-label {
  display: block;
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

/* Past dates style */
.calendar td.passed {
  background-color: #f0f0f0;
  color: #bbb;
  cursor: not-allowed;
}

/* Features Section */
.features-section {
  flex: 3;
  padding: 20px;
  color: #333;
  line-height: 1.6;
}

.features-section h2 {
  text-align: left;
  font-size: 1.8em;
  font-weight: 600;
  color: #796C5C;
  margin-bottom: 15px;
}

.feature-item {
  margin-bottom: 20px;
}

.feature-item h3 {
  color: #796C5C;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.feature-item p {
  font-size: 1em;
  color: #555;
}
.open-from-jan{
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%; 
  height: 1.4rem;
  background-color: #b5b0ab;
  padding: 1.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-from-jan h5{
  font-weight: 200;
}
/* Total Price Container */
.total-price-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #796C5C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  font-size: 1.2em;
}
.total-price-container .price {
  font-weight: bold;
}
.total-price-container .lets-go-btn {
  background-color: #fff;
  color: #333;
  border: none;
  font-weight: 100;
  padding: 10px 20px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Arboria Book';
  transition: all ease-in-out .3s;
}
.total-price-container .lets-go-btn:hover{
  background-color: #282828;
  color: #bbb;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .reservation-page {
    flex-direction: column;
    align-items: center;
  }
  .features-section {
    margin-top: 20px;
  }
  .open-from-jan h5{
    font-weight: 200;
    font-size: 12px;
  }
  .calendar td.reserved {
    padding: 18px;
  }
  .calendar td {
    background-color: #f9f9f9;
  }
  .calendar td.reserved .reserved-label {
    font-size: 0.6em;
    margin-left: -10px;
  }
}
@media (max-width: 490px) {
  .calendar-section {
    flex: 7;
    padding: 0px;
    text-align: center;
    transform: scale(.75);
  }
}


